.waves {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.waves-canvas {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
}